/*static*/
h3, p {
  position: static;
}

/*relative*/
.rel-t {
  position: relative;
  background-color: red;
  color: white;
  padding: 15px;
  /*modificadores*/
  top: 80px;
  left: 200px;
}

.rel-p {
  position: relative;
  background-color: blueviolet;
  color: white;
  padding: 15px;
  /*modificadores*/
  bottom: 80px;
  right: 30%;
}

/*absolute*/
.card1, .card2 {
  position: relative;
  background-color: brown;
  width: 300px;
  height: 300px;
  margin: 5px;
}

.card1 h3 {
  position: absolute;
  background-color: blueviolet;
  color: white;
  top: 100px;
  left: 100px;
}

.card2 h3 {
  position: absolute;
  background-color: violet;
  color: darkblue;
  bottom: 50px;
  right: 50px;
}

/*fixed*/
.card3 {
  position: absolute;
  background-color: violet;
  color: darkblue;
  bottom: 50px;
  right: 50px;
}

/*inherit*/
.card4 {
  position: relative;
  background-color: chocolate;
  width: 300px;
  height: 300px;
  margin: 5px;
}

.card4 h3 {
  position: inherit;
  background-color: darksalmon;
  color: white;
  top: 100px;
  left: 100px;
}

/*sticky*/
.card5 {
  position: relative;
  background-color: chocolate;
  width: 300px;
  height: 300px;
  margin: 5px;
}

.card5 h3 {
  position: sticky;
  background-color: darksalmon;
  color: white;
  top: 100px;
  left: 50px;
}

/*float*/
.card6 {
  position: relative;
  background-color: chocolate;
  width: 300px;
  height: 300px;
  margin: 5px;
}

.card6 h3 {
  float: right;
  background-color: darksalmon;
  color: white;
  margin: 2px;
}

#cleaner {
  clear: both;
  background-color: aqua;
}