body {
  background-color: #333;
}

.mi-texto {
  background: linear-gradient(#1b0f9c, #df3131);
  font-size: 72px;
  font-family: 'Ocean Rush';
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

@font-face {
  font-family: 'Ocean Rush';
  src: url(../fonts/Ocean-Rush.otf);
}