div, h3, b {
  border: 2px solid black;
}

/*Reglas CSS*/

/*display*/
.disp-block p b {
  display: block;
}

/*margin y padding*/
.margin-padding {
  margin: 20px;
  padding: 50px;
}

.only-padding {
  padding-top: 29px;
  padding-right: 70px;
  padding-bottom: 5px;
  padding-left: 50px;
}

.only-margin {
  margin-top: 25px;
  margin-right: 10px;
  margin-bottom: 30px;
  margin-left: 80px;
}

.two-values {
  padding: 50px 10px;
  margin: 100px 50px;
}

/*border*/
.borde1 {
  border: 5px dotted #b30f0f;
}

.borde2 {
  border: 4px;
  border-style: double;
  border-color: blue;
}

.borde3 {
  border-top: 5px double red;
  border-right: 5px solid blue;
  border-bottom: 5px dashed green;
  border-left: 5px dotted yellow;
}

/*border-radius*/
.borde4, .borde5, .borde6 {
  margin: 20px;
  padding: 20px;
}

.borde4 {
  border: 3px solid #ffd900;
  border-radius: 20px;
}

.borde5 {
  border: 3px solid #00bd20;
  border-radius: 20px 0;
}

.borde6 {
  border: 3px solid #8d0083;
  border-top-right-radius: 10px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.text-rules {
  min-width: 300px;
  min-height: 200px;
  max-width: 1200px;
  max-height: 800px;

  border: 3px solid orange;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;

  color: darkblue;
  background-color: #c8c8c8;
  
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px; /*tamaño de la fuente*/
  font-weight: 700; /*grosor de la fuente*/
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
}