/* Selector de etiqueta*/
h1 {
  color: blue;
}

/*Selector de clase*/
.parrafo {
  color: red;
  font-size: 24px;
}

/*Selección por identificador (id)*/
#lorem {
  color: green;
  font-size: 30px;
  font-family: monospace;
}

/*Agrupación*/
h3, h4, h5 {
  color: aqua;
  font-size: 17px;
}

/*Anidamiento*/
.card a {
  color: chocolate;  
}

/*Selección por atributo*/
nav ul li a {
  font-size: 20px;
}

a[href="/"] {
  color: orange;
  font-size: 24px;
}

/*Wildcard*/
* {
  color: blueviolet;
  font-family: monospace;
}

/*Important*/
h4 {
  color: blue !important;
}

.title {
  color: red;
}

#title {
  color: brown;
}