* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
}

/*Pixeles*/
.container {
  background-color: brown;
  width: 900px;
  height: 300px;
}

/*Porcentaje*/
.child1 {
  background-color: cadetblue;
  width: 80%;
}

/*viewport width y viewport height*/
.child2 {
  background-color: aqua;
  width: 90vw;
  height: 10vh;
}

/*small viewport width y small viewport height*/
.child3 {
  background-color: blueviolet;
  width: 20svw;
  height: 40svh;
}

/*Medidas de color*/
.color {
  width: 30vw;
  height: 10vh;
}

/*Hexadecimal*/
.color1 {
  background-color: #5d23a8;
}

/*RGB*/
.color2 {
  background-color: rgb(200,0,0);
}

/*RGBA*/
.color3 {
  background-color: rgba(200,0,0,0.8);
}

/*HSL*/
.color4 {
  background-color: hsl(35, 25%, 40%);
}

/*Medidas de texto*/
.p-em {
  font-size: 18px;
  margin: 2em; /*36px*/
}

.p-rem {
  margin: 2rem;
}