* {
  margin: 0;
  padding: 0;
}

/*Pixeles*/
.container {
  background-color: brown;
  width: 900px;
  height: 300px;
}

/*Porcentaje*/
.child1 {
  background-color: cadetblue;
  width: 80%;
}

/*viewport width y viewport height*/
.child2 {
  background-color: aqua;
  width: 90vw;
  height: 10vh;
}

/*small viewport width y small viewport height*/
.child3 {
  background-color: blueviolet;
  width: 20svw;
  height: 40svh;
}